body{
  display: flex;
  flex-direction: column; 
  justify-content:center ;
}
  
  #grid-container {
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vw; 
    max-width: 600px;
    max-height: 600px;
    display: grid;
    align-self: center;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 1px solid black;
  }

#grid-settings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
  
  .grid-item {
    padding: 1em;
    border: 1px solid black;
    text-align: center;
  }

input{ 
  width: 200px;
  align-self: center;
}

.btn{
  display: flex;
  align-self: center;
}

