
  
  #grid-container {
    width: 500px;
    height: 500px;
    display: grid;
    justify-content: center;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid black
    text-align: center;
  }

  #grid-cell:hover{
    background-color: black;
  }